[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "public"]
	path = public
	url = https://github.com/itrix-edge/itrix-edge.github.io.git
	branch = master
[submodule "themes/airspace-hugo"]
	path = themes/airspace-hugo
	url = https://github.com/momobin/airspace-hugo.git
